<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <!-- meta -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Smile">
   <meta name="keywords" content="Smile">
   <meta name="theme-color" content="#050505">
   
   <meta name="description" content="Smile">
   <!-- <meta http-equiv="refresh" content="5"> -->

   <!-- stylesheet -->
   <link rel="stylesheet" href="{% static "assets/css/vendors/bootstrap.min.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/vendors/font-awesome.min.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/vendors/slick.min.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/theme/style.css" %}">
   <link rel="stylesheet" href="{% static "assets/css/theme/index.css" %}">
   <!-- title -->
   <title>Smile Hospitals</title>
   <style>
           #logo{ 
      position:fixed; 
      top:0; 
      left:0; 
  } 
  .icon-vid{
      border-radius: 2%;
  }
   </style>
   

</head>

<body data-spy="scroll" data-target="#scrollspy_bar" data-offset="0" onload="functionToBeExecuted">
   <!-- LODAER -->
   <div class="loader_screen" id="loader_screen">
       <div class="loader">
           <svg viewBox="0 0 80 80">
               <rect x="8" y="8" width="64" height="64"></rect>                
           </svg>            
       </div>
   </div>

   <!-- MAIN -->
   <main class="ml-auto"><br>
      <center><img src="{% static "assets/images/logo.png" %}" alt="" onerror=this.src="" heigth = "150" width="150"></center>
       <!-- SECTION III -->
       <div data-parallax="scroll" data-image-src="{% static "assets/images/bg/03.png" %}">
           <!-- SECTION III - SERVICES SECTION -->
           <div class="se_iii py_xl" id="se_iii">
               <div class="container">                     
                   <div class="row text-md-left text-center">
                       <!-- col -->   
                       <div class="col-lg-12 mb-1 text-center">
                          
                          <img 
                          src="{% url 'CameraApp:video_feed' %}" 

                          
                               height="85%" 
                               alt="No image found"
                               width="85%" 
                               class="icon-vid img-fluid mb-3" 
                               onerror="this.src='{% static '19.gif' %}'; ">

                       </div>
                       <!-- col -->
                       <div class="col-lg-12 mb-1 text-center" id = "cont">
                           <!-- box -->
                           <div class="box">
                               <!-- icon -->
                               <img src="{% static "assets/images/icons/layer.svg" %}" class="icon img-fluid mb-1" alt="icon"> 
                                                              
                                  <p style="color: yellow;">Patient Booking Details</p>
                                   <div class="se_title">
                                        <table class="table table-striped table-dark">
                                            <thead>
                                                
                                                
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Patient</th>
                                                    <td>{%if a %}{{a.patient.first_name}}&nbsp;{{a.patient.last_name}}{% endif %}</td>                                                    
                                                </tr>
                                                <tr>
                                                    <th scope="row">Patient Age</th>
                                                    <td>{%if a %}{{a.patient.age}}{% endif %}</td>                                                    
                                                </tr> 
                                                <tr>
                                                    <th scope="row">Patient Bllod Group</th>
                                                    <td>{%if a %}{{a.patient.blood_group}}{% endif %}</td>                                                    
                                                </tr> 
                                                <tr>
                                                    <th scope="row">Consultant Doctor</th>
                                                    <td>{%if a %}{{a.doctor.first_name}}&nbsp;{{a.doctor.last_name}}{% endif %}</td>                                                    
                                                </tr>  
                                                <tr>
                                                    <th scope="row">Appointment Time</th>
                                                    <td>{%if a %}{{a.Booking_time}}{% endif %}</td>                                                    
                                                </tr>  
                                                <!-- <tr>
                                                    <th scope="row">Created At</th>
                                                    <td>{% if a %}{{a.created_at}}{% endif %}</td>                                                    
                                                </tr>                                                 -->
                                            </tbody>
                                        </table>  
                                        <a href="{% url 'CameraApp:index' %}" class="btn btn-md btn-info">Go to Home</a>  
                                   
                                   
                                   </div>
                       </div>
                   </div>
               </div>
               
            </main>   
            <!-- <footer><center style="color: white;">Powered by &copy;VistanNextgen Pvt Ltd.</center></footer>  -->

           </div>
       </div>


   <!-- Scripts -->
   
   
   <script src="{% static "assets/js/vendors/popper.js" %}"></script>
   <script src="{% static "assets/js/vendors/bootstrap.min.js" %}"></script>
   <script src="{% static "assets/js/vendors/jquery-3.3.1.min.js" %}"></script>
   <script src="{% static "assets/js/vendors/parallax.min.js" %}"></script>
   <script src="{% static "assets/js/vendors/slick.min.js" %}"></script>
   <script src="{% static "assets/js/theme/script.js" %}"></script> 


   
   <script type="text/javascript">       
       
            var auto_refresh = setInterval(
            function ()
            {               
                console.log('loaded');                     
                window.location.href = 'http://127.0.0.1:8000'
            }, 250000); 
    
        
   </script> 
</html>

</body> 